@using WebBlog.Areas.Identity.Models;
@using WebBlog.Areas.Identity.Models.User;
@model UserListModel

@{
    ViewData["Title"] = "Danh sách tài khoản";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<p>Tổng số thành viên: @Model.totalUsers</p>

<table class="table">
    <tr>
        <th>Tên user</th>
        <th>Vai trò (role)</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var user in Model.users)
    {
        <tr>
            <td>@user.UserName</td>
            
            <td>
                @if(string.IsNullOrEmpty(user.rolesNames))
                {
                    <a class="text-class" asp-action="AddRole" asp-route-id="@user.Id">+ Add role</a>
                } else
                {
                    <a asp-action="AddRole" asp-route-id="@user.Id">@user.rolesNames</a>
                }
            </td>
            <td>
                <a class="btn btn-info"  asp-action="DeleteAccount" asp-route-id="@user.Id">Delete Account</a>
                <a class="btn btn-info" asp-action="AddRole" asp-route-id="@user.Id">Edit role</a>
                <a class="btn btn-info"  asp-action="SetPassword" asp-route-id="@user.Id">Set Password</a>
            </td>
        </tr>
    }
</table>

@{
    var pagingmodel = new WebBlog.Models.PagingModel()
            {
                currentpage = Model.currentPage,
                countpages = Model.countPages,
                generateUrl = (int? p) => Url.Action("Index", new { p = p })
            };
}

<partial name="_PagingPartial" model="@pagingmodel" />
