@inject SignInManager<AppUser> SignInManager

@using App.Areas.Identity.Models.AccountViewModels;
@model RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký tài khoản";
    Layout  = "_LoginLayout.cshtml";
}
<style>
    .bg-register-image {
        background-image: url(https://haviweb.com.vn/wp-content/uploads/2018/11/web-2.0-la-gi.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: black;
    }
</style>

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Tạo tài khoản mới</h1>
                    </div>
                    <form asp-area="Identity" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="user">
                        @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@

                        <div class="form-group">
                            <label asp-for="@Model.UserName"></label>
                            <input asp-for="@Model.UserName" type="text" class="form-control form-control-user" />
                            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label asp-for="@Model.Email"></label>
                            <input asp-for="@Model.Email. type="email" class="form-control form-control-user" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <hr>
                         <div class="form-group">
                            <label asp-for="@Model.HomeAdress"></label>
                            <input asp-for="@Model.HomeAdress. type="text" class="form-control form-control-user" />
                            <span asp-validation-for="@Model.HomeAdress" class="text-danger"></span>
                        </div>
                        <hr>
                      @*   <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                
                                <label asp-for="@Model.Sex">Giới tính:</label><br>
                                <select asp-for="Sex" id="gender" name="gender" required>
                                    <option asp-validation-for="Nam" value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select></br>
                            </div>
                        </div> *@
                        <hr>  
                        <div class="form-group">
                            <label asp-for="@Model.Age">Tuổi</label>
                            <input asp-for="Age" class="form-control form-control-user" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div> 
                        <hr>
                        <div class="form-group">
                            <label asp-for="@Model.Password"></label>
                            <input asp-for="@Model.Password" type="password" class="form-control form-control-user">
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>
                        <hr>
                        <button asp-controller="Account" asp-action="Register" type="submit" class="btn btn-primary btn-user btn-block">Đăng ký</button>
                    </form>
                    
                    <div class="text-center">
                        <h6>Đã có tài khoản?</h6>
                        <a class="small" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* @section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
} *@