@model IEnumerable<WebBlog.Models.ArticleModel>

@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Tổng số bài viết : @ViewBag.totalPost</h3>

<h1>Danh sách bài viết</h1>

<form method="get" asp-action="Index" >
    <label>Tìm kiếm</label>
    <input name="SearchString" value="">
    <button type="submit" class="btn btn-secondary ">Tìm</button>
</form>






<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(++ViewBag.postIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a asp-controller="Article" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Article" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_PagingPartial" model="@ViewBag.pagingModel"/>
